@page "/"
@inherits EmployeeListBase


<h3>Selected Employee Count- @SelectedEmployeeCout </h3>
<h3>Employee List </h3>
<h3>Text Changed By - @changedtext </h3>

@if (Employees == null)
{
    <div class="spinners"></div>
}
else
{
    

<div class="card-deck">
    <div class="row">
        <div class="col-md-12">

            <input type="checkbox"  @bind="showfooter"/>

        </div>


        @foreach (var e in Employees)
        {
                <DisplayEmployee TextChanged="UpdateText" Employee="e" ShowFooter="showfooter" OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>

        }
    </div>
</div>
}
